@charset "UTF-8";

/***
  *랜딩 페이지
*/

$innerWidth : calc( 100% - 40px);

.p__landing {
  width: 100%;
  overflow-x: hidden;

  .top-section {
    width: 100%;
    height: 1080px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 20px;
    background: {
      image: url("../../../../assets/img/banner.jpg");
      size: cover;
      repeat: no-repeat;
      position: 50%;
    };
  }

  .middle-section {
    padding: 29px 20px 30px;

    .shop-title {
      text-align: center;
      color: #222;
      font-weight: 400;
      letter-spacing: 0em;
      line-height: 1.5em;
      padding:16px 0;
    }
    .shop-desc{
      text-align: center;
      padding: 16px 0;
      color: #424242;
      font-weight: 300;
      letter-spacing: -0.02em;
      line-height: 1.7em;
    }
  }

  .bottom-section {
    margin-bottom: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .title {
    color: #222222;
    font-family: Times New Roman, serif;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.5em;
  }

  .content{
    color: #424242;
    font-family: Noto Sans KR, sans-serif;
    font-weight: 300;
    letter-spacing: -0.02em;
    line-height: 1.7em;
    font-size: 13px;
  }

  .left-wrap {
    padding: 16px;
  }

  .right-wrap {
    padding: 16px;
  }
}

